* {
margin: 0%;
padding: 0%;
}
body{

    background: linear-gradient(45deg, #db5cf7, #0f58ec, rgb(246, 65, 65), rgb(255, 193, 79));
    background-size: 400% 400%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
h1{
text-align: center;
margin-top: 35px;
color: rgb(251, 251, 251);
}
.dark-mode{
    background: linear-gradient(45deg, rgb(22, 22, 49),rgb(69, 68, 68),rgb(75, 75, 75));
    background-size: 400% 400%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}
.dark-mode h1 {
    color: rgb(212, 123, 212);
}
.dark-mode li  {
    border: 2px solid rgb(212, 123, 212);
}

.container {
width: 500px;
height: 500px;
border-radius: 5%;
background-color:rgba(255, 255, 255, 0.159);
margin-left: 460px; /* pushing away from left*/
margin-top: 35px;
overflow: scroll;
box-shadow: 3px 3px 20px 30px rgba(0, 0, 0, 0.378);
}
p {
    text-align: center;
    color: white;

}

.title {
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.tasks {
text-align: center; 
margin: 5px; 

}
.toggle{
    width: 70px;
    

}
label{
    margin: 10px;
    cursor: pointer;
    width: 50px;
    height: 30px;
    
    display: block;
    border-radius: 50px;
    position: relative;
    color: white;
} 
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
input{
    background-color: rgba(255, 255, 255, 0.46);
    color: black;
    border-radius: 30px;
    border: 2px solid rgb(209, 43, 209);
    height: 30px;
    width: 250px;
    display: inline-block;
    text-align: center;
    margin-left: 7%;
}
input:hover{
    width:270px;
    box-shadow: 5px 5px 10px 10px rgba(255, 255, 255, 0.607);
}
ul {
    text-align: center;
}
li:empty {
    display: none;
}
li {
border: solid 2px rgb(209, 43, 209); 
width: 250px;
cursor: pointer;
background-color: rgba(255, 255, 255, 0.615);
border-radius: 20px;
overflow-y:scroll;
list-style: none;
display: inline-block;

}
button{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid rgb(209, 43, 209);
    background-color: rgba(255, 255, 255, 0.319);
}
button:hover {
    cursor: pointer;
    width: 40px;
    box-shadow: 5px 5px 10px 10px rgba(255, 255, 255, 0.607);
}

